body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 500px;
    margin: auto;
}

#notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.note {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-text {
    font-size: 16px;
    justify-content: flex-end;
    gap: 5px;
}

#add-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#note-text {
    resize: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
}

#add-btn {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#edit-btn {
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}